body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1440px;
    height: 1024px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .login-title {
    position: absolute;
    left: 651px;
    top: 144px;
    font-size: 50px;
    text-align: left;
    color: #000;
  }
  
  .horizontal-line {
    width: 515px;
    height: 7px;
    position: absolute;
    left: 461px;
    top: 566px;
    background-color: #d9d9d9;
  }
  
  .label {
    width: 173px;
    position: absolute;
    font-size: 20px;
    text-align: left;
    color: #000;
  }
  
  .signup-title {
    position: absolute;
    left: 684px;
    top: 640px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #fff;
  }
  
  .styled-box {
    width: 515px;
    height: 55px;
    position: absolute;
    overflow: hidden;
    background-color: #eee;
  }
  
  .black-box {
    width: 515px;
    height: 55px;
    position: absolute;
    overflow: hidden;
    background-color: #000;
  }
  
  .login-inside {
    position: absolute;
    left: 230px;
    top: 16px;
    font-size: 20px;
    text-align: left;
    color: #fff;
  }
  
  .find-text {
    position: absolute;
    font-size: 15px;
    text-align: left;
    color: #000;
  }
  
  .signup-text {
    position: absolute;
    left: 549px;
    top: 694px;
    font-size: 20px;
    text-align: left;
  }
  
  .normal-text {
    font-size: 20px;
    text-align: left;
    color: #000;
  }
  
  .bold-text {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #0029ff;
  }
  